{% extends 'base.html' %}
{% block content %}



<p>ユーザ名を入力してください</p>
<form action="/index" method="POST">
        <input type="text" name="username" placeholder="Enter name" required>
        <input type="submit" value="登録">
</form>


<br>
<br>

{% if checkflg == 1  %}
<p>★セッションリセット</p>
ユーザ名が残っているのでは、リセットボタンを押してから
登録してください。

<form action="/reset2" method="POST">
	<input class="submit-button" value="リセット" type="submit" >
</form>

{% endif %}

<br>
<br>

<p>★ゲームリセット（ユーザリスト削除）</p>

<form action="/reset1" method="POST">
	<input class="submit-button" value="完全リセット" type="submit" >
</form>

<br>
<br>

{% endblock %}