{% extends 'base.html' %}
{% block content %}
<p> 私のユーザ名は　{{myname}}　です </p>

<!-- #region 
<meta http-equiv="refresh" content="2;URL={{ url_for('load_member_list') }}">
-->


<p> 現在の参加メンバーは　</p>
{% for member in MemberList_DB %}
<p>
    <div style="display:inline-flex">
    <b>{{ member.username }} さん</b>
    {% if member.prepare_flg == 0 %}

      {% if member.username == myname %}
     　　 
        <form action="/memberlist_check" style="display:inline;" method="POST">
        <input  type="submit"  name="BtnID" value="{{member.id}}" >
        </form>←準備ができたらボタンを押してください
          
      {% endif %}
   

  {% else %}
  　<font color="blue">   準備OK </font>
  {% endif %}
  </div> 
<br>
</p>
{% endfor %}

<br>
<br>
<br>

{% if flg_start == 1 %}

<p>このメンバーで開始しますか？（親の人のみが押してください）</p>
<form action="/prepare" method="POST">
  <select name="genre_num">
    <option value=1>ジャンル選択</option>
    {% for genre in word_Genre %}
    <option value= {{ loop.index }}>{{genre}}</option>
    {% endfor %}
  </select>
  <select name="number_wolf">
    <option value=1>ウルフ１人</option>
    <option value=2>ウルフ２人</option>
  </select>
  <input class="submit-button" value="開始する" type="submit" id="button1" >
</form>


<br>

※親以外の人は、親の人が”開始する”ボタンを押したあとに、下記のリンクをクリックしてください
<br>
<a href="{{ url_for('memberlist_prepare') }}"><strong>親以外の人はこちらをクリック</strong></a>

<br>
<br>
{% endif %}

{% endblock %}