{% extends 'base.html' %}
{% block content %}
<p> 私のユーザ名は　{{myname}}　です </p>


<p>あなたのお題・テーマ　<strong><h2> {{wordtheme}} </h2></strong> です</p>

<p><u>話題・質問の例</u>　　(下記のような抽象的な質問をメンバーに投げかけてみてください。)</p>
"{{quest1}}"<br>
"{{quest2}}"<br>
"{{quest3}}"<br>
"{{quest4}}"<br>
"{{quest5}}"<br>
<br><br><br><br>


<p>ウルフだと思う人を下記から選択してください。
(親から合図があるまでは投票しないでください)</p>
<form action="/vote" method="POST" enctype="multipart/form-data">
    <select name="sel">
        <option value="null" disabled selected>選択して下さい</option>
        {% for member in MemberList_DB %}
        <option value= {{member.username}}>{{member.username}}</option>
        {% endfor %}
    </select>
    <div>
        <input type="submit" value="送信">
    </div>


</form>


{% endblock %}