{% extends 'base.html' %}
{% block content %}
<p> 私のユーザ名は　{{myname}}　です </p>


<p>あなたのお題・テーマ　<h2> {{wordtheme}} </h2> です</p>

<p>話題・質問のヒント</p>
"{{quest1}}"<br>
"{{quest2}}"<br>
"{{quest3}}"<br>
<br><br>


<p>ウルフだと思う人を下記から選択してください。</p>
<form action="/vote" method="POST" enctype="multipart/form-data">
    <select name="sel">
        <option value="null" disabled selected>選択して下さい</option>
        {% for member in MemberList_DB %}
        <option value= {{ loop.index }}>{{member.username}}</option>
        {% endfor %}
    </select>
    <div>
        <input type="submit" value="送信">
    </div>


</form>


{% endblock %}